/****Content****/

.content {
    margin-top: 75px;
}


/****Barre de navigation****/

.navbar-brand img {
    max-width: 50px;
}

.navbar-collapse ul {
    width: 100%;
}

.connect {
    width: 100%;
    text-align: right;
}


/****Page d'accueil****/

#products div {
    margin-top: 10px;
}

.productBackgroundHome {
    height: 120px;
    background-size: cover !important;
}