/****Classe génériques****/

.floatR {
    float: right;
}

.floatL {
    float: left;
}


/****Content****/

.content {
    margin-top: 75px;
}


/****Barre de navigation****/

.navbar-brand img {
    max-width: 50px;
}

.navbar-collapse ul {
    width: 100%;
}

.connect {
    width: 100%;
    text-align: right;
}


/****Page d'accueil****/

#products div {
    margin-top: 10px;
}

.productBackgroundHome {
    height: 300px;
    background-size: cover !important;
}

.card-text {
    font-size: 12px;
}


/****Pages index****/

.description,
#myTable {
    font-size: 10px;
}


/****Data Table****/

.dataTables_paginate a {
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: #212529;
    border: 1px solid#212529;
}

.dataTables_paginate a:hover {
    padding: 2px 4px;
    font-weight: 700;
    transition: 60ms;
}

.dataTables_info {
    display: none;
}

#myTable_wrapper input {
    height: 20px;
}